body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    background-image: url('/images/Volksfunk.png');
    width: 700px;
    height: 406px;
}

.logo.small {
    background-image: url('/images/VolksfunkSm.png');
    width: 175px;
    height: 102px;
}

.logo span {
    display: none;
}

.bd {
    margin-top: 15px;
}

#loginPanel {
    display: inline-block;
    width: 350px;
    float: left;
}

#loginPanel span {
    text-align: right;
}

#loginPanel .caption {
    display: inline-block;
    width: 150px;
}

#blurb {
    display: inline-block;
    width: 340px;
    font-size: 18px;
    padding: 5px;
    background-color: #bbb;
}

#genreList span:hover {
    background-color: yellow;
}
#genreList span {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    height: 23px;
    background-color: #ddd;
    border: 1px solid black;
    margin: 5px;
    float: left;
    text-align: center;
    padding-top: 7px;
}